// #container {
//   text-align: center;

//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 50%;
//   transform: translateY(-50%);
// }

// #container strong {
//   font-size: 20px;
//   line-height: 26px;
// }

// #container p {
//   font-size: 16px;
//   line-height: 22px;

//   color: #8c8c8c;

//   margin: 0;
// }

// #container a {
//   text-decoration: none;
// }

ion-content {
  --background: #508aa8; /* Color de fondo */
  display: grid;
  height: 100vh; /* Ocupa toda la pantalla */
  padding: 0;
  overflow: hidden; /* Evita el desplazamiento */
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

h1 {
  font-family: "Rubik Mono One", monospace;
  font-size: 3rem;
  color: #031927; /* Color del texto */
  letter-spacing: -2.5px;
}

ion-icon {
  color: #031927;
  font-size: 2rem;
  margin: 5px;
}

/* Nuevo contenedor para los íconos */
.icon-container {
  position: absolute; /* Posiciona el contenedor de manera absoluta */
  bottom: 10px; /* Distancia del borde inferior */
  display: flex; /* Utiliza flexbox para alinear los íconos */
  flex-direction: column; /* Apila los íconos verticalmente */
  gap: 1rem; /* Espacio entre los íconos */
}





